<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='liveStocks && liveStocks.length'>
          <thead>
            <tr>
                <th>Stock</th>
                <th>Current Value</th>
                <th>Change</th>
                <th></th>
                <th>Trade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let stock of liveStocks'>
              <td>
                <h4>
                  {{ stock.stockSymbol }}
                </h4>
                <P>
                  <a [routerLink]="['/buysell', stock.stockName]">
                    {{ stock.stockName }}
                  </a>
                </P>
              </td>
              <td>{{ stock.currentPrice | currency:'USD':'symbol':'1.2-2' }}</td>
              <td [ngClass]="{stockLoss : 0>(this.stock.currentPrice-this.stock.openPrice),
                              stockGain : (this.stock.currentPrice-this.stock.openPrice)>0}">
                {{ stock.currentPrice-stock.openPrice }}
                <br>
                {{ (stock.currentPrice-stock.openPrice)/stock.openPrice | percent }}
              </td>
              <td>
                <img *ngIf='(0>(this.stock.currentPrice-this.stock.openPrice))'
                  src='./assets/images/loss.gif'
                  Width=30
                  Margins=2>
                <img *ngIf='((this.stock.currentPrice-this.stock.openPrice)>0)'
                  src='./assets/images/gain.gif'
                  Width=30
                  Margins=2>
              <td>
                <button
                [routerLink]="['/buysell', stock.stockName]"
                class='btn btn-primary'
                (click)='null'>
                buy/Sell
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>
