<mat-toolbar color="primary">
  <img src="../../../assets/logo.gif" Width="30" Margins="2" />
  <span class="app-logo">{{ pageTitle }}</span>

  <ng-container *ngIf="authService.isAuthorized | async; else isNotAuthRef">
    <button
      mat-button
      class="button"
      routerLinkActive="active"
      [routerLink]="['/userwallet']"
    >
      Personal Wallet
    </button>
    <button
      mat-button
      class="button"
      routerLinkActive="active"
      [routerLink]="['/tradehistory']"
    >
      Trade History
    </button>
    <button
      mat-button
      class="button"
      routerLinkActive="active"
      [routerLink]="['/buysell']"
    >
      Buy/Sell
    </button>
    <div class="flex-spacer"></div>
    <button mat-button
            class="button"
            (click)="authService.logOut()">
      Logout
    </button>
  </ng-container>
  <ng-template #isNotAuthRef>
    <div class="flex-spacer"></div>
    <button
      mat-button
      class="button"
      routerLinkActive="active"
      [routerLink]="['/login']"
    >
      login
    </button>
    <span class="mini_spacer"></span>
    <button
      mat-button
      class="button"
      routerLinkActive="active"
      [routerLink]="['/signup']"
    >
      signup
    </button>
  </ng-template>
</mat-toolbar>
