<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='userTrades && userTrades.length'>
          <thead>
            <tr>
              <th>Date and Time</th>
              <th>Stock Name</th>
              <th>Trade Type</th> <!--buy or sell-->
              <th>Quantity</th>
              <th>Total Price</th>
              <!-- <th>Buy/Sell</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let trade of userTrades'>
              <td>{{ trade.trade_date | date:'medium' }}</td>
              <td>
                <a [routerLink]="['/buysell', trade.stock_symbol]">
                    {{ trade.stock_name }}
                </a>
              </td>
              <td>{{ trade.trade_type }}<br>
                <img *ngIf='(trade.trade_type=="Bought")'
                  src='./assets/images/buy.gif'
                  Width=30
                  Margins=2>
                <img *ngIf='(trade.trade_type=="Sold")'
                  src='./assets/images/sell.gif'
                  Width=30
                  Margins=2>
              </td>
              <td>{{ trade.quantity }}</td>
              <td>{{ trade.total_price| currency:'USD':'symbol':'1.2-2'}}</td>
              <!-- <td>
                <button
                [routerLink]="['/buysell', trade.stock_symbol]"
                class='btn btn-primary'
                (click)='null'>
                Buy/Sell
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>
