.column {
  float: left;
  padding: 2%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: flex;
}

.spacer {
  flex: 10 1 80%;
}

.small_spacer {
  flex: 1 1 2%;
}

.mini_spacer {
  flex: 1 1 1%;
}
