    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand">{{ pageTitle }}</a>
        <ul class="nav nav-pills">
          <li *ngIf='isAuthenticated'>
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/userwallet']"
              >My Invetments</a
            >
          </li>
          <li *ngIf='isAuthenticated'>
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/tradehistory']"
              >Trade History</a
            >
          </li>
          <li *ngIf='isAuthenticated'>
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/buysell']"
              >Buy/Sell</a
            >
          </li>
          <li *ngIf='isAuthenticated'>
              <a
                class="nav-link"
                routerLinkActive="active"
                [routerLink]="['/logout']"
                >Logout</a
              >
            </li>
          <li *ngIf='!isAuthenticated'>
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/login']"
              >login</a
            >
          </li>
        </ul>
      </nav>
      <div class="container">
          <router-outlet></router-outlet>
        <!-- <div class="column left">

        </div>
        <div class="column right">
          <pm-livestocks></pm-livestocks>
        </div> -->
      </div>


