.nav-link {
  font-size: large;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;

}

.left {
  /* width: 30%; */
}

.right {
  /* width: 70%; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



.container {
  display: flex;
}
